.event-container {
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.event-flex-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.event-flex-container h2{
    font-size: xx-large;
    padding: 2%;
    margin-bottom: 5%;
}

.event-text-container {
    font-family:
}