@font-face {
    font-family: "starjedi-outline";
    src: local("Starjout"),
      url("../../fonts/Starjout.ttf") format("truetype");
  }

  @font-face {
    font-family: "starj";
    src: local("Starjedi"),
      url("../../fonts/Starjedi.ttf") format("truetype");
  }

  @font-face {
    font-family: "franklin-gothic";
    src: local("FranklinGothic"),
      url("../../fonts/FranklinGothic.ttf") format("truetype");
  }

#register-background-video {
  position: fixed;
  z-index: -10;
}

.reg{
    margin: 0;
    padding-top: 1%;
    color: #fff;
    font-family: "starjedi-outline";
}

/* .register-header {
    font-family : 'starjedi-outline';
    letter-spacing: '5px';
    font-size:'60px';
} */

.reg h2{
    padding: 30px;
    font-family: 'starjedi-outline';
    font-size: 300%;
  }

form {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 20%;
    font-family:'starj';
    font-size: 600;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
}

.text-box {
    border: 3px solid #fff ;
    padding-left: 1%;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #fff;
    /* font-family: "starj"; */
    height: 50px;
    width: 80%;
}
.text-area {
    border: 3px solid #fff ;
    background-color: black;
    height: 100px;
    width: 80%;
}

input[type='file']{
    margin-left: 2%;
    /* border: 3px solid #fff ; */
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #fff;
    /* font-family: "starj"; */
    height: 50px;
    width: 80%;
}

input::file-selector-button {
    font-weight: bold;
    background-color: black;
    color: rgb(255, 255, 255);
    border: thin solid rgb(255, 255, 255);
    height: 50px;
    border-radius: 3px;
}

.organization {
    display: none;
}

input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 16px;
    height: 16px;
  }
  
  input[type='radio']:checked {
    background: #333;
  }

  .button-container {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .register-button-container {
    border: 3px solid #fff ;
    background-color: rgb(0, 0, 0);
    font-family: "starj";
    color: rgb(255, 255, 255);
    height: 50px;
    width: 20%;
  }

  .register-button {
    border: 3px solid #fff ;
    background-color: rgb(0, 0, 0);
    font-family: "starj";
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
  }

  .register-button:hover {
    border: 3px solid #fff ;
    background-color: rgb(255, 255, 255);
    font-family: "starj";
    color: black;
    height: 50px;
    width: 100%;
  }